<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Amount Trends</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='1.ico') }}" />
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
  </head>
  <body>
    <nav class="sidebar">
      <h2>Fraud Detection</h2>
      <a href="index.html">Dashboard</a>
      <a href="visualizations.html">Visualizations</a>
      <a href="analysis.html">Analysis</a>
      <a href="model.html">ML Model</a>
      <a href="amount-trends.html" class="active">Amount Trends</a>
      <a href="feature.html">Feature</a>
      <a href="theory.html">Theory</a>
    </nav>
    <div class="main-content">
      <h1>Amount Trends</h1>
      <input type="file" id="csvFile" accept=".csv" />
      <div class="dashboard-section">
        <h2>Transaction Amount Distribution</h2>
        <div id="amount-distribution" class="plot-container"></div>
      </div>
      <div class="dashboard-section">
        <h2>Average Transaction Amount Over Time</h2>
        <div id="avg-amount-trend" class="plot-container"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='amount.js') }}"></script>
  </body>
</html>
