<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Feature Importance</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='images/1.ico') }}" />
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
  </head>
  <body>
    <nav class="sidebar">
      <h2>Fraud Detection</h2>
      <a href="index.html">Dashboard</a>
      <a href="visualizations.html">Visualizations</a>
      <a href="analysis.html">Analysis</a>
      <a href="model.html">ML Model</a>
      <a href="amount-trends.html">Amount Trends</a>
      <a href="feature.html" class="active">Feature</a>
      <a href="theory.html">Theory</a>
    </nav>
    <div class="main-content">
      <h1>Feature Importance</h1>
      <input type="file" id="csvFile" accept=".csv" />
      <div class="dashboard-section">
        <h2>Top Contributing Features for Fraudulent Transactions</h2>
        <div id="feature-importance" class="plot-container"></div>
      </div>
      <div class="dashboard-section">
        <h2>Correlation Heatmap of Features</h2>
        <div id="correlation-heatmap" class="plot-container"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/feature.js') }}"></script>
  </body>
</html>
